@page "/imports"
@using FamilyHub.DataImporter.Web.Data
@using static PluginBase.BaseMapper
@inject DataImportApiService ImportApiService

<h1>Data Imports</h1>

<p>Select the imports That you want to run.</p>

@if (importTypes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Supplier</th>
                <th>Start</th>
                <th>Stop</th>
                <th>Progress</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var importType in importTypes)
            {
                <tr>
                    <td>@importType.Name</td>
                    <td>@importType.Supplier</td>
                    <td><button class="btn btn-primary" disabled="@IsDisabled(importType.Name)" @onclick="@(e => StartProcess(importType.Name))">Start</button></td>
                    <td><button class="btn btn-primary" disabled="!@IsDisabled(importType.Name)" @onclick="@(e => StopProcess(importType.Name))">Stop</button></td>
                    <td>@GetProgress(importType.Name)</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private ImportType[]? importTypes;
    public Dictionary<string, string> Progress = new Dictionary<string, string>();
    
    

    protected override async Task OnInitializedAsync()
    {
        importTypes = await ImportApiService.GetDataImportsAsync();
    }

    private void StartProcess(string name)
    {
        UpdateProgress updateProgress = new UpdateProgress(ShowProgress);
        var taskitem = ImportApiService.StartImport(name, updateProgress);
        if (taskitem != null)
        {
            //updateProgress = new UpdateProgress(ShowProgress);
            //todo: https://stackoverflow.com/questions/6169288/execute-specified-function-every-x-seconds
            /*
            * async Task RunInBackground(TimeSpan timeSpan, Action action)
            {
            var periodicTimer = new PeriodicTimer(timeSpan);
                while (await periodicTimer.WaitForNextTickAsync())
        {
        action();
        }
        }

        RunInBackground(TimeSpan.FromSeconds(1), () => Console.WriteLine("Printing"));
            */
            //while(taskitem.ItemTask.IsCompleted)
            //{
            //    if (!Progress.ContainsKey(taskitem.ImportType.Name))
            //    {
            //        Progress[taskitem.ImportType.Name] = taskitem.ImportType.DataInputCommand.Progress;

            //        InvokeAsync(StateHasChanged).ConfigureAwait(false);
            //    }
            //    else
            //    {
            //        if (Progress[taskitem.ImportType.Name] != taskitem.ImportType.DataInputCommand.Progress)
            //        {
            //            Progress[taskitem.ImportType.Name] = taskitem.ImportType.DataInputCommand.Progress;

            //            InvokeAsync(StateHasChanged).ConfigureAwait(false);
            //        }
            //    }

            //};
        }

    }

    private void StopProcess(string name)
    {
        ImportApiService.StopImport(name);
    }

    private bool IsDisabled(string name)
    {
        return ImportApiService.IsTaskRunning(name);
    }

    private string GetProgress(string name)
    {
        if (Progress.ContainsKey(name))
            return Progress[name];

        return string.Empty;
    }

    public void ShowProgress(string name, string message)
    {
        if (!Progress.ContainsKey(name))
        {
            Progress.Add(name,message);
        }
        else
        {
            Progress[name] = message;
        }

        InvokeAsync(StateHasChanged).ConfigureAwait(false);
    }
}




